
gridstack {
  height: 500px;
  background: #FAFAD2;
  margin: 10px;
  padding: 40px;
}
.item-content {
  text-align: center;
  background-color: #c9f199;
  border: 1px solid #000;
  border-radius: 5px;
  height: 100%;

}
